.btn
  display: inline-block
  color: #fff
  background-color: #b93f16
  color: #fff
  border: 1px solid $color_border
  font-size: 24px
  line-height: 1.1em
  padding: 20px 60px
  outline-style: none
  transition: all linear 0.2s
  box-sizing: border-box
  cursor: pointer
  font-weight: bold

  &:hover
    background-color: #ff4000
    color: $color_link
