.input
  width: 100%
  display: block
  box-sizing: border-box
  background-color: #fff
  border: 2px solid $color_border
  color: $color_text
  font-size: 16px
  line-height: 24px
  padding-left: 15px
  outline-style: none
  resize: none
  border-radius: 5px
  font-weight: bold

.input_type_error
  border-color: red !important
  box-shadow: 0 0 5px red

.input_type_textarea
  padding: 5px 0 5px 15px
  line-height: 1.2em
  min-height: 103px

@media screen and (max-width: $width_mobile)

  .input_type_textarea
    min-height: 163px
