.page__center
  max-width: 1170px
  margin: 0 auto
  position: relative

.page__title
  font-size: 81px
  line-height: 1.2
  font-family: $font-title
  font-weight: bold
  position: relative
  padding: 17px 0 40px 0
  margin-bottom: 41px
  color: #fff
  background-color: #b83e15
  text-align: center
