@font-face{
  font-family: 'Traktir';
  src: url('../fonts/Traktir.eot');
  src: url('../fonts/Traktir.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Traktir.woff2') format('woff2'),
      url('../fonts/Traktir.woff') format('woff'),
      url('../fonts/Traktir.ttf') format('truetype'),
      url('../fonts/Traktir.svg#Traktir') format('svg');
  font-weight: normal;
  font-style: normal;
}
