@import reset.css
@import fonts.css
@import variables.sass

@import libs/fancybox.css
@import libs/slick.css

@import layout/btn
@import layout/input
@import layout/footer
@import layout/hidden
@import layout/header
@import layout/page
@import layout/post

body
  font-family: $font-body
  font-size: 24px
  line-height: 1.2
  color: $color_text

@media screen and (max-width: $width_mobile)

  body
    font-size: 16px
