.adv
  padding: 60px 0 120px 0

.adv__list
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: space-between

.adv__i
  flex: 0 0 33.33%
  text-align: center
  padding: 0 15px
  box-sizing: border-box
  margin-bottom: 10px

.adv__text
  border: 3px solid #b63b16
  border-radius: 17px
  background-color: #f08804
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3)
  padding: 15px 30px
  font-size: 27px
  line-height: 1.1

.adv__picture
  display: inline-block
  max-width: 100%

@media screen and (max-width: $width_mobile)

  .adv__list
    display: block

  .adv__text
    font-size: 20px
    padding: 10px 20px

  .adv__picture
    max-width: 80%
    margin-bottom: -3px
