.quest
  background-color: #f1bd68

.quest__content
  padding: 70px 0

.quest__list
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap

.quest__i
  flex: 0 0 33.33%
  min-width: 290px
  box-sizing: border-box
  padding: 15px
  text-align: center

.quest__cart
  padding: 19px 0 30px 0
  background-color: #f08800
  border-radius: 45px

.quest__picture
  margin-bottom: 20px
  margin-left: 5px
  display: inline-block
  width: 240px
  height: 240px
  clip-path: polygon(30.29% 5.19%, 42.54% 13.97%, 50.22% 0.95%, 57.79% 13.97%, 70.15% 5.19%, 71.71% 20.17%, 86.63% 17.17%, 81.91% 31.50%, 96.82% 34.81%, 86.63% 46.00%, 98.95% 55.08%, 85.03% 61.16%, 92.65% 74.45%, 77.41% 74.36%, 79.02% 89.60%, 65.08% 83.33%, 60.41% 97.88%, 50.16% 86.49%, 40.03% 97.88%, 35.25% 83.33%, 21.42% 89.60%, 22.92% 74.36%, 7.78% 74.45%, 15.30% 61.16%, 1.49% 55.08%, 13.70% 46.00%, 3.62% 34.81%, 18.41% 31.50%, 13.80% 17.17%, 28.61% 20.17%)
  -webkit-clip-path: polygon(30.29% 5.19%, 42.54% 13.97%, 50.22% 0.95%, 57.79% 13.97%, 70.15% 5.19%, 71.71% 20.17%, 86.63% 17.17%, 81.91% 31.50%, 96.82% 34.81%, 86.63% 46.00%, 98.95% 55.08%, 85.03% 61.16%, 92.65% 74.45%, 77.41% 74.36%, 79.02% 89.60%, 65.08% 83.33%, 60.41% 97.88%, 50.16% 86.49%, 40.03% 97.88%, 35.25% 83.33%, 21.42% 89.60%, 22.92% 74.36%, 7.78% 74.45%, 15.30% 61.16%, 1.49% 55.08%, 13.70% 46.00%, 3.62% 34.81%, 18.41% 31.50%, 13.80% 17.17%, 28.61% 20.17%)

.quest__title
  font-size: 32px
  line-height: 1.1
  font-weight: bold
  margin-bottom: 15px

.quest__text
  font-size: 21px
  line-height: 1.1
  margin-bottom: 30px

.quest__more-link
  display: inline-block
  color: #000
  background-color: #fff
  transition: all linear 0.2s
  padding: 13px 40px
  border-radius: 25px
  font-size: 21px
  line-height: 1.1
  text-decoration: none
  text-align: center

  &:hover
    background-color: #000
    color: #fff

@media screen and (max-width: $width_mobile)

  .quest__cart
    padding: 15px 5px
    border-radius: 20px

  .quest__content
    padding: 20px 0 47px 0

  .quest__list
    justify-content: center

  .quest__i
    min-width: 135px
    padding: 10px

  .quest__title
    font-size: 16px

  .quest__text
    font-size: 12px

  .quest__more-link
    font-size: 13px
    max-width: 116px
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    padding: 5px 15px

  .quest__picture
    margin-bottom: 10px
    margin-left: 0

  .quest__text
    margin-bottom: 15px

  .quest__picture
    width: 105px
    height: 105px
