.quest
  background-color: #f1bd68

.quest__content
  padding: 70px 0

.quest__list
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap

.quest__i
  flex: 0 0 33.33%
  min-width: 290px
  box-sizing: border-box
  padding: 15px
  text-align: center

.quest__cart
  padding: 19px 0 30px 0
  background-color: #f08800
  border-radius: 45px

.quest__picture
  margin-bottom: 20px
  margin-left: 5px
  display: inline-block
  width: 240px
  height: 240px
  clip-path: polygon(58.972895863052784%7.300314915545377%, 58.031383737517835%4.122530775837389%, 59.657631954350926%1.145147437732608%, 59.657631954350926%1.145147437732608%, 62.624821683309555%2.7197251646149443%, 64.19400855920114%8.016032064128256%, 64.4793152639087%8.846263956484398%, 74.75035663338089%14.113942170054395%, 75.12125534950071%10.907529344403091%, 77.77460770328102%8.789006584597766%, 77.77460770328102%8.789006584597766%, 79.88587731811698%11.422845691382765%, 79.25820256776034%16.890924706555968%, 79.20114122681883%17.663899227025478%, 86.99001426533523%27.054108216432866%, 88.53067047075606%24.39164042370455%, 91.811697574893%23.532779845405095%, 91.811697574893%23.532779845405095%, 92.69614835948644%26.79645004294303%, 89.9286733238231%31.548811909533352%, 89.64336661911555%32.03549957056971%, 93.09557774607703%44.03091898081878%, 95.43509272467902%42.34182651016318%, 98.77318116975749%42.88577154308617%, 98.77318116975749%42.88577154308617%, 98.23109843081312%46.206699112510734%, 93.78031383737518%49.41311193816204%, 93.49500713266762%49.61351273976525%, 93.49500713266762%49.95705697108503%, 91.9543509272468%61.55167477812768%, 94.5506419400856%60.97910105926138%, 97.4037089871612%62.81133695963355%, 97.4037089871612%62.81133695963355%, 95.60627674750357%65.64557686802176%, 90.24251069900143%66.81935299169768%, 90.1283880171184%66.847981677641%, 83.73751783166904%77.49785284855425%, 86.16262482168331%77.98454050959062%, 88.01711840228245%80.81878041797881%, 88.01711840228245%80.81878041797881%, 85.22111269614835%82.70827369023762%, 79.91440798858773%81.62038362439164%, 69.24393723252497%89.0638419696536%, 71.12696148359487%90.43801889493272%, 71.66904422253923%93.7875751503006%, 71.66904422253923%93.7875751503006%, 68.35948644793153%94.33152018322359%, 64.07988587731812%91.21099341540223%, 51.12696148359486%93.52991697681077%, 52.23965763195435%95.50529630689951%, 51.32667617689016%98.76896650443744%, 51.32667617689016%98.76896650443744%, 48.074179743223965%97.88147724019467%, 45.47788873038517%93.30088748926424%, 33.238231098430816%90.18036072144288%, 33.46647646219686%92.4706555969081%, 31.326676176890157%95.1044947036931%, 31.326676176890157%95.1044947036931%, 28.730385164051356%92.98597194388778%, 28.216833095577748%87.68966504437446%, 18.687589158345222%80.18894932722588%, 17.945791726105565%82.50787288863441%, 14.950071326676177%84.08245061551675%, 14.950071326676177%84.08245061551675%, 13.380884450784594%81.10506727741196%, 15.035663338088446%75.86601774978529%, 8.7018544935806%63.61294016604638%, 6.932952924393724%65.53106212424849%, 3.537803138373752%65.64557686802176%, 3.537803138373752%65.64557686802176%, 3.3951497860199713%62.267391926710566%, 7.132667617689016%58.23074720870312%, 7.275320970042796%58.08760377898655%, 6.5049928673323825%49.92842828514171%, 6.704707560627675%45.63412539364443%, 4.108416547788873%46.750644145433725%, 0.9700427960057061%45.49098196392786%, 0.9700427960057061%45.49098196392786%, 2.196861626248217%42.34182651016318%, 7.24679029957204%40.16604637847123%, 7.617689015691869%39.99427426281134%, 12.439372325249643%27.912968794732322%, 9.4151212553495%27.85571142284569%, 7.075606276747504%25.393644431720585%, 7.075606276747504%25.393644431720585%, 9.50071326676177%23.04609218436874%, 14.978601997146933%23.160606928142%, 15.634807417974322%23.160606928142%, 25.192582025677602%14.08531348411108%, 22.310984308131243%12.65387918694532%, 21.22681883024251%9.447466361294017%, 21.22681883024251%9.447466361294017%, 24.393723252496432%8.359576295448038%, 29.329529243937234%10.793014600629832%, 30.07132667617689%11.136558831949614%, 41.055634807417974%7.243057543658746%, 38.91583452211127%4.723733180647009%, 39.172610556348076%1.3455482393358145%, 39.172610556348076%1.3455482393358145%, 42.53922967189729%1.6032064128256514%, 46.1055634807418%5.782994560549671%, 46.73323823109843%6.44145433724592%, 49.95720399429386%6.32693959347266%, 58.944365192582026%7.271686229602062%)
  -webkit-clip-path: polygon(58.972895863052784%7.300314915545377%, 58.031383737517835%4.122530775837389%, 59.657631954350926%1.145147437732608%, 59.657631954350926%1.145147437732608%, 62.624821683309555%2.7197251646149443%, 64.19400855920114%8.016032064128256%, 64.4793152639087%8.846263956484398%, 74.75035663338089%14.113942170054395%, 75.12125534950071%10.907529344403091%, 77.77460770328102%8.789006584597766%, 77.77460770328102%8.789006584597766%, 79.88587731811698%11.422845691382765%, 79.25820256776034%16.890924706555968%, 79.20114122681883%17.663899227025478%, 86.99001426533523%27.054108216432866%, 88.53067047075606%24.39164042370455%, 91.811697574893%23.532779845405095%, 91.811697574893%23.532779845405095%, 92.69614835948644%26.79645004294303%, 89.9286733238231%31.548811909533352%, 89.64336661911555%32.03549957056971%, 93.09557774607703%44.03091898081878%, 95.43509272467902%42.34182651016318%, 98.77318116975749%42.88577154308617%, 98.77318116975749%42.88577154308617%, 98.23109843081312%46.206699112510734%, 93.78031383737518%49.41311193816204%, 93.49500713266762%49.61351273976525%, 93.49500713266762%49.95705697108503%, 91.9543509272468%61.55167477812768%, 94.5506419400856%60.97910105926138%, 97.4037089871612%62.81133695963355%, 97.4037089871612%62.81133695963355%, 95.60627674750357%65.64557686802176%, 90.24251069900143%66.81935299169768%, 90.1283880171184%66.847981677641%, 83.73751783166904%77.49785284855425%, 86.16262482168331%77.98454050959062%, 88.01711840228245%80.81878041797881%, 88.01711840228245%80.81878041797881%, 85.22111269614835%82.70827369023762%, 79.91440798858773%81.62038362439164%, 69.24393723252497%89.0638419696536%, 71.12696148359487%90.43801889493272%, 71.66904422253923%93.7875751503006%, 71.66904422253923%93.7875751503006%, 68.35948644793153%94.33152018322359%, 64.07988587731812%91.21099341540223%, 51.12696148359486%93.52991697681077%, 52.23965763195435%95.50529630689951%, 51.32667617689016%98.76896650443744%, 51.32667617689016%98.76896650443744%, 48.074179743223965%97.88147724019467%, 45.47788873038517%93.30088748926424%, 33.238231098430816%90.18036072144288%, 33.46647646219686%92.4706555969081%, 31.326676176890157%95.1044947036931%, 31.326676176890157%95.1044947036931%, 28.730385164051356%92.98597194388778%, 28.216833095577748%87.68966504437446%, 18.687589158345222%80.18894932722588%, 17.945791726105565%82.50787288863441%, 14.950071326676177%84.08245061551675%, 14.950071326676177%84.08245061551675%, 13.380884450784594%81.10506727741196%, 15.035663338088446%75.86601774978529%, 8.7018544935806%63.61294016604638%, 6.932952924393724%65.53106212424849%, 3.537803138373752%65.64557686802176%, 3.537803138373752%65.64557686802176%, 3.3951497860199713%62.267391926710566%, 7.132667617689016%58.23074720870312%, 7.275320970042796%58.08760377898655%, 6.5049928673323825%49.92842828514171%, 6.704707560627675%45.63412539364443%, 4.108416547788873%46.750644145433725%, 0.9700427960057061%45.49098196392786%, 0.9700427960057061%45.49098196392786%, 2.196861626248217%42.34182651016318%, 7.24679029957204%40.16604637847123%, 7.617689015691869%39.99427426281134%, 12.439372325249643%27.912968794732322%, 9.4151212553495%27.85571142284569%, 7.075606276747504%25.393644431720585%, 7.075606276747504%25.393644431720585%, 9.50071326676177%23.04609218436874%, 14.978601997146933%23.160606928142%, 15.634807417974322%23.160606928142%, 25.192582025677602%14.08531348411108%, 22.310984308131243%12.65387918694532%, 21.22681883024251%9.447466361294017%, 21.22681883024251%9.447466361294017%, 24.393723252496432%8.359576295448038%, 29.329529243937234%10.793014600629832%, 30.07132667617689%11.136558831949614%, 41.055634807417974%7.243057543658746%, 38.91583452211127%4.723733180647009%, 39.172610556348076%1.3455482393358145%, 39.172610556348076%1.3455482393358145%, 42.53922967189729%1.6032064128256514%, 46.1055634807418%5.782994560549671%, 46.73323823109843%6.44145433724592%, 49.95720399429386%6.32693959347266%, 58.944365192582026%7.271686229602062%)

.quest__title
  font-size: 32px
  line-height: 1.1
  font-weight: bold
  margin-bottom: 15px

.quest__text
  font-size: 21px
  line-height: 1.1
  margin-bottom: 30px

.quest__more-link
  display: inline-block
  color: #000
  background-color: #fff
  transition: all linear 0.2s
  padding: 13px 40px
  border-radius: 25px
  font-size: 21px
  line-height: 1.1
  text-decoration: none
  text-align: center

  &:hover
    background-color: #000
    color: #fff

@media screen and (max-width: $width_mobile)

  .quest__cart
    padding: 15px 5px
    border-radius: 20px

  .quest__content
    padding: 20px 0 47px 0

  .quest__list
    justify-content: center

  .quest__i
    min-width: 135px
    padding: 5px

  .quest__title
    font-size: 16px

  .quest__text
    font-size: 12px

  .quest__more-link
    font-size: 13px
    max-width: 116px
    box-sizing: border-box
    margin-left: auto
    margin-right: auto
    padding: 5px 15px

  .quest__picture
    margin-bottom: 10px
    margin-left: 0

  .quest__text
    margin-bottom: 15px

  .quest__picture
    width: 105px
    height: 105px
